/***********************************************
*  Sean Bryan
*  2019-04-20
*  Style Sheet for Triva Game Project
************************************************/
/* font-family: 'Great Vibes', cursive;
font-family: 'Tangerine', cursive;
font-family: 'Just Another Hand', cursive;
font-family: 'Calligraffitti', cursive;
font-family: 'Stalemate', cursive;
font-family: 'Ruthie', cursive; */


/* Element Styles */
body {
    /* background-image: url(../images/flag_documentjpg.jpg); */
    background-image: url(../images/old_flag.jpg);
    /* background-image: url(../images/waving_flag.jpg); */
    background-attachment: fixed;
    background-size: cover;
}

/* Class Styles */
.answer:hover { 
    background-color: #ece0c3
}

.header h1 {
    margin-top: 5px;
    font-size: 7em;
    color: #FDF7DC;
    font-family: 'Tangerine', cursive;
}

/* ID Styles */
#start-game {
    display: flex;
    justify-content: center;
    align-items: center;
}

#trivia-page,
#trivia-answer,
#countdown-timer, 
#summary {
    background-image: url(../images/old_parchment.jpg);
}

/* Bootstrap Overrides */
.btn-dark {
    margin-top: 50%;
    /* color: #FDF7DC; */
    color: black;
    /* background-color: #885d37; */
    background-image: url(../images/old_parchment.jpg);
    border-color: black;
    font-weight: bold;
    /* font-family: 'Ruthie', cursive; */
    font-family: 'Tangerine', cursive;
    letter-spacing: 3px;
    font-size: 3em;
    width: 500px;
    border-style: solid;
    border-width: 7px 7px;
    border-radius: 25px;
}
