/***********************************************
*  Sean Bryan
*  2019-04-20
*  Style Sheet for Triva Game Project
************************************************/

/* Element Styles */
body {
    background-image: url(../images/old_flag.jpg);
    background-attachment: fixed;
    background-size: cover;
}

/* Class Styles */
.answer:hover { 
    background-color: #ece0c3
}

.header h1 {
    margin-top: 5px;
    font-size: 7em;
    color: #FDF7DC;
    font-family: 'Tangerine', cursive;
}

/* ID Styles */
#start-game {
    display: flex;
    justify-content: center;
    align-items: center;
}

#game-over {
    text-align: center;
}

#game-over h1 {
    font-size: 50px;
}

#correct-answers,
#incorrect-answers,
#unanswered {
    margin: 6px 0;
}

#final-grade {
    margin-top: 6px;
    padding-bottom: 100px;
}

#trivia-page,
#trivia-answer,
#countdown-timer, 
#summary {
    background-image: url(../images/old_parchment.jpg);
}

#trivia-page,
#trivia-answer {
    font-family: 'Calligraffitti', cursive;
}

#trivia-page {
    padding: 10px 10px;
    margin-top: 10px;
}

#answer-reveal {
    font-style: italic;
}

#trivia-answer {  
    text-align: center;
    padding-top: 20px;
    padding-bottom: 40px;
}

#trivium-image {
    height: 400px;
    width: 300px;
    border: 4px solid #b7410e;
    border-radius: 25px;
}

/* Bootstrap Overrides */
.btn-dark {
    margin-top: 50%;
    color: black;
    background-image: url(../images/old_parchment.jpg);
    border-color: black;
    font-weight: bold;
    font-family: 'Tangerine', cursive;
    letter-spacing: 3px;
    font-size: 3em;
    width: 500px;
    border-style: solid;
    border-width: 7px 7px;
    border-radius: 25px;
}
